<div class="skill-area" id="about">
	<h1 class="title mt-5">ABOUT</h1>
	<div class="underline"></div>


	<table class="table caption-top">
		<tbody>
			<tr>
				<th scope="row">Name</th>
				<td>Minhazul Hasan Sohan</td>
			</tr>

			<tr>
				<th scope="row">Address</th>
				<td>15-Sutrapur, Tajhat</td>
			</tr>

			<tr>
				<th scope="row">District</th>
				<td>Rangpur</td>
			</tr>

			<tr>
				<th scope="row">Phone</th>
				<td>+88 01723-183898</td>
			</tr>

			<tr>
				<th scope="row">Accademic Qualification</th>
				<td>B.Sc. Engineering</td>
			</tr>

			<tr>
				<th scope="row">Institution	</th>
				<td>Bangabandhu Sheikh Mujibur Rahman Science and Technology University</td>
			</tr>
		</tbody>
	</table>

</div>
