<div id="blog">
	<h1 class="title mt-5">BLOGS</h1>
	<div class="underline"></div>

	<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card h-100">
        <img src="~/images/node.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">What Is Node JS??? Building Blocks & Architecture???</h5>
          <p class="card-text">Node JS is an open-source, cross-platform JavaScript runtime powered by a Chrome V8 engine that executes JavaScript code outside a web browser. What is the runtime environment really??? Well, before node we use JavaScript only to build applications that run inside the browser. Every browser has a JavaScript engine that takes our JavaScript code and converts it to code that a computer can understand.</p>
        </div>
        <div class="card-footer">
          <a class="icon" href="https://minhazulhasansohan.medium.com/what-is-node-js-building-blocks-architecture-6dba434d974e" target="_blank"> <i
              class="fa fa-medium" aria-hidden="true"></i> </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="~/images/react.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">React JS — Some Fundamental Topics</h5>
          <p class="card-text">React JS is an open-source, front end, efficient, and flexible JavaScript library for building user interfaces. It is used to build single-page applications. It allows us to create reusable UI components. There have two buzzwords — Library & FrameWork.</p>
        </div>
        <div class="card-footer">
          <a class="icon" href="https://minhazulhasansohan.medium.com/react-js-some-fundamental-topics-b637f5acc2d7" target="_blank"> <i
              class="fa fa-medium" aria-hidden="true"></i> </a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="~/images/js.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">JavaScript Event Loop</h5>
          <p class="card-text">Here the idea of event loop comes from. JavaScript is a single-threaded, non-blocking, asynchronous, concurrent language. Thread is like an event in other words it’s simply a sequence of code execution that can be executed independently of one another. JavaScript is a single-threaded programming language which means it has a single call stack and a single memory heap & it can do one thing at a time.</p>
        </div>
        <div class="card-footer">
          <a class="icon" href="https://minhazulhasansohan.medium.com/javascript-event-loop-ab0a6e2ab947" target="_blank"> <i
              class="fa fa-medium" aria-hidden="true"></i> </a>
        </div>
      </div>
    </div>

  </div>
</div>