    <div class="intro-grid">

    <div class="intro-item text-dark">
        <h1>i'm Minhaz</h1>
        <h4 class="mb-5">Full Stack Web Devloper <br />& Software Engineer</h4>

        <a class="icon" href="https://web.facebook.com/profile.php?id=100009179001222&_rdc=1&_rdr" target="_blank"> <i
                class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a class="icon" href="https://github.com/MinhazulHasan" target="_blank"> <i class="fa fa-github-square"
                aria-hidden="true"></i> </a>
        <a class="icon" href="https://www.linkedin.com/in/minhazul-hasan-sohan/" target="_blank"> <i class="fa fa-linkedin-square"
                aria-hidden="true"></i> </a>
        <a class="icon" href="https://minhazulhasansohan.medium.com/" target="_blank"> <i class="fa fa-medium"
                aria-hidden="true"></i> </a>
        <a class="icon" href="https://twitter.com/MinhazulSohan" target="_blank"> <i class="fa fa-twitter-square"
                aria-hidden="true"></i> </a>

        <div>
            <a href="~/resume/Minhazul Hasan Sohan.pdf" download="Minhazul Hasan" class="my-btn mt-3">Get Resume</a>
            <a class="my-btn mt-3">Contact Me</a>
        </div>
    </div>

    <div>
        <img class="hero-img" src="~/images/hero-img.png" height="512" width="512" />
    </div>
</div>