<div id="project">
  <h1 class="title mt-5">MY PROJECTS</h1>
  <div class="underline"></div>

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
      <div class="card h-100">
        <img src="~/images/creative-agency.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Creative Agency</h5>
          <p class="card-text">A full-stack web application about an IT service provider. You can check which services
            we are providing. Then you can place an order with project details..</p>
        </div>
        <div class="card-footer">
          <a class="icon" href="https://github.com/MinhazulHasan/creative-agency-client" target="_blank"> <i
              class="fa fa-github-square" aria-hidden="true"></i> </a>
          <a class="icon" href="https://creative-agency-d60a9.web.app/" target="_blank"> <i class="fa fa-globe"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="~/images/travel-guru.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Travel Guru</h5>
          <p class="card-text">An exclusive looking web application about a travel agency where the user can book a
            place. Also using firebase hosting and authentication and show the selected place with Google Maps.</p>
        </div>
        <div class="card-footer">
          <a class="icon" href="https://github.com/MinhazulHasan/travel-guru" target="_blank"> <i
              class="fa fa-github-square" aria-hidden="true"></i> </a>
          <a class="icon" href="https://travel-guru-4fab6.web.app/" target="_blank"> <i class="fa fa-globe"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="~/images/covid.PNG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Covid 19 Tracker</h5>
          <p class="card-text">Single page web application where you can get all the information about the COVID-19 in
            the entire world. It also provides a particular country's information by selecting the country from the
            dropdown.</p>
        </div>
        <div class="card-footer">
          <a class="icon" href="https://github.com/MinhazulHasan/covid-19-tracker" target="_blank"> <i
              class="fa fa-github-square" aria-hidden="true"></i> </a>
          <a class="icon" href="https://distracted-hermann-13ea37.netlify.app/" target="_blank"> <i class="fa fa-globe"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>